.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0 20px;
  input {
    border-radius: 4px;
    height: 30px;
  }
  button {
    border-radius: 25px;
    margin-top: 20px;
    &:hover {
      background-color: #00a7e1;
      cursor: pointer;
    }
  }
}
